body {
  background-image: url("../images/sakura4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body > .container {
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #db6b97;
  border-radius: 5px;
}
h1 {
  font-family: Merriweather;
  font-size: 38px;
  margin-top: 99px;
  margin-left: 20px;
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 80px;
  color: #bd245f;
  text-align: center;
}
input {
  border: solid;
  border-color: #e44985;
}
.btn-outline-success {
  background-color: #db6b97;
  color: white;
}
.btn-outline-success:hover {
  background-color: #d47ae8;
  transition: ease-in-out 200ms;
}
.navbar-light {
  background-color: #fce3d9 !important;
}
.bg-light {
  background-color: #fce3d9;
}
.container-fluid {
  background: transparent;
}
h2 {
  font-family: Merriweather;
  color: #bd245f;
  padding: 0px 15px;
  font-size: 40px;
}
.temp-container {
  font-family: Merriweather;
  color: #bd245f;
  font-size: 60px;
}
.col {
  font-family: Merriweather;
  color: #bd245f;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.date-container {
  font-family: Merriweather;
  color: #ae427b;
  font-size: 20px;
}
footer {
  font-family: Merriweather;
  color: #763857;
  padding-top: 10px;
  padding-bottom: 0px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f68989;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffe6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #be255f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #be255f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#temp-unit-switch {
  font-family: Merriweather;
  color: #bd245f;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  top: 7px;
  font-size: 25px;
}
.weather-forecast.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.row > * {
  width: unset;
}
.weather-forecast.row .col {
  width: 300px;
  display: flex;
  flex-direction: column;
}
